extends index.pug

block css
    link(rel='stylesheet', href='//cdn.jsdelivr.net/emojione/2.2.7/assets/css/emojione.min.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css')
    link(rel='stylesheet', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
    link(rel='stylesheet', href='//fonts.googleapis.com/icon?family=Material+Icons')

    link(rel='stylesheet', href='../css/main.css')

block body-js
    script(src='//code.jquery.com/ui/1.12.1/jquery-ui.min.js')
    script(src='//cdn.jsdelivr.net/emojione/2.2.7/lib/js/emojione.min.js')
    script(src='//cdn.jsdelivr.net/foundation/6.2.4/foundation.min.js')

    script(src='../js/play.js')
    script(src='../js/plugins.js')
block body-script
    :babel(presets=['es2015'])
        function hideAddressBar()
        {
          if(!window.location.hash)
          {
              if(document.height < window.outerHeight)
              {
                  document.body.style.height = (window.outerHeight + 50) + 'px';
              }

              setTimeout( function(){ window.scrollTo(0, 1); }, 50 );
          }
        }

        window.addEventListener("load", function(){ if(!window.pageYOffset){ hideAddressBar(); } } );
        window.addEventListener("orientationchange", hideAddressBar );

        $(() => {
            const emojiKeyboard = $('.emoji-keyboard').emojiKeyboard();

            $(document).foundation()
                .on('click', e => {
                    if(emojiKeyboard.emojiKeyboard('isOpen')){
                        emojiKeyboard.emojiKeyboard('close');
                    } else if(emojiKeyboard.emojiKeyboard('isClose')){
                        emojiKeyboard.emojiKeyboard('open');
                    }
                });

            emojiKeyboard.emojiKeyboard('open');

            $('button.randomize').on('click', e => {
                e.preventDefault();e.stopPropagation();
                emojiKeyboard.emojiKeyboard('randomize');
            });
            $('button.clear').on('click', e => {
                e.preventDefault();e.stopPropagation();
                emojiKeyboard.emojiKeyboard('clear');
            });
            $('button.value').on('click', e => {
                e.preventDefault();e.stopPropagation();
                const val = emojiKeyboard.emojiKeyboard('val');
                alert(JSON.stringify(val));
            });
        });
block content
    button.open open
    button.close close
    button.randomize randomize
    button.value value
    button.clear clear
    .emoji-keyboard
        select(multiple)